* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 5% 60% 30% 5%;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
}

#div1 {
    display: grid;
    grid-template-columns: 30% 1fr;
}

header {
    display: grid;
    justify-items: center;
    background-color: #2ECC40;
}

#div1 div {
    display: grid;
    justify-items: center;
    background-color: #FFDC00;
}

#div2 {
    display: grid;
    background-color: #F012BE;
    align-items: center;
    justify-items: center;
}

#div3 {
    display: grid;
    grid-template-columns: 50% 25%;
}

#content2 {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #0074D9;
}

#image-extra {
    display: grid;
    grid-column-start: 3;

}

#image {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #FF4136;
}

#extra {
    display: grid;
    align-items: center;
    justify-items: center;;
    background-color: #01FF70;
}

footer {
    display: grid;
    justify-items: center;
    background-color: #B10DC9;
}