* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
}

#div1 {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ECC40;
    flex-grow: 1;
}

#div1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFDC00;
    flex-grow: 3;
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F012BE;
    flex-grow: 5;
}

#div3 {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}

#content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: #0074D9;
}

#image-extra {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4136;
    flex-grow: 1;
}

#extra {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01FF70;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B10DC9;
}